<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->exclude('Components/NuSOAP/nusoap.php')
    ->in(dirname(dirname(__DIR__)))
;

include_once "php_cs.rules.dist";

return $config;
