includes:
	- ../../../../../vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    bootstrap: "%currentWorkingDirectory%/vendor/splash/phpcore/Resources/grumphp/phpstan.php"
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true 
    universalObjectCratesClasses:
            - ArrayObject