includes:
	- ../../vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    bootstrapFiles:
        - "./phpstan.php"
        - "../../inc/defines.inc.php"
        - "../../inc/Splash.Inc.php"
        - "../../Components/NuSOAP/nusoap.php"
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true 
    universalObjectCratesClasses:
            - ArrayObject
