<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "true"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap                   = "../../autoload.php" 
    verbose                     = "false"
    debug                       = "false"    
    timeoutForLargeTests        = "120"  
>

    <testsuites>
        <testsuite name="All">
            <directory>Tests/*</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>Tests/Core</directory>
        </testsuite>
        <testsuite name="Admin">
            <directory>Tests/Admin</directory>
        </testsuite>
        <testsuite name="Objects">
            <directory>Tests/Objects</directory>
        </testsuite>
        <testsuite name="Widgets">
            <directory>Tests/Widgets</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>Tests</directory>
            <exclude>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="SERVER_NAME" value="localhost" />
        
        <!-- UNCOMMENT TO ACTIVATE DEBUG -->
        <!--<const name="SPLASH_DEBUG" value="true" />-->
    </php>
    
</phpunit>
